.wrapper{
	margin-left:10%;
	margin-right:10%;
	
}
.bandenoir{
	background-color:black;
	width:100%;
	height:3em;
}
.logo{
	float:left;
}
.logo1{
	color:#57c5a0;
	font-size:120%;
	font-family: Helvetica;
	text-decoration:none;
	line-height:2.5em;
}
.recherchelogin {
	color:white;
	float:right;
	line-height:3em;
}
.recherchelogin i {
	color:white;
}
.recherche,.login {
	float:left;
	padding-left:1em;
	border: solid white;
}