body {
width:100%;
font-family: 'Maven Pro', sans-serif;
}
header {
background-color:#242424;
}
.wrapper {
width:65%;
margin:0 auto;
}
.header-gauche {
color:#57c5a0;
line-height: 50px;
float:left;
display:block;
}
.header-gauche h1 {
font-size:1.4em;
font-family: 'Open Sans', sans-serif;
}
.header-droit {
display:block;
line-height:50px;
float:right;
color:#828282;
}
.header-recherche {
display:block;
border-right: 1px #7d7d7d solid; 
float:left;
padding-right:10px;
margin-right:10px;}
.header-login {
border-right: 1px #7d7d7d solid; 
display:block;
float:left;
padding-right:10px;
font-size: 0.9em;
}
.header-nav {
width:100%;
background-color:#fff;
clear:both;
}
.header-nav .wrapper .header-gauche ul li {
display:block;
float:left;
width:80px;
text-align:center;
padding-left:5px;
padding-right:5px;
border-left: 1px solid #eeeeee;
line-height: 56px;
font-family: 'Open Sans', sans-serif;
}
.header-nav .wrapper .header-gauche ul li:last-child {
border-right: 1px solid #eeeeee;
}
.header-nav .wrapper .header-gauche ul li a {
text-decoration:none;
color:#414141;
}